.wrapper {
    .container {
        max-width: 90%;
        width: 100%;
        margin: 0 auto;

        @include tablet-portrait {
            max-width: 100%;
            padding-left: toRem(20);
            padding-right: toRem(20);
        }
    }

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s ease-in-out;

    &.active {
        background: $primary;
        box-shadow: 0px 0px toRem(5) toRem(5) rgb(59 59 59 / 50%);
    }

    nav {
        @include tablet-portrait{
            position: absolute;
            width: 100%;
            background: $grey;
            padding: 0 toRem(30) toRem(80);
            left: 0;
            top: 0;
            clip-path: circle(0% at 0% 0%);
            margin: 0 auto;
            transition: all 0.5s;
        }

        &.mobile-active{
            @include tablet-portrait{
                clip-path: circle(100% at 0% 0%);
            } 
        }

        ul {
            gap: toRem(10);
            @include tablet-portrait{
                flex-direction: column;
                align-items: center;
                padding: toRem(30) 0;
            }

            li {
                a {
                    color: $text;
                    font-size: toRem(18);
                    transition: all 0.3s ease-in-out;
                    display: inline-block;
                    padding: toRem(30) toRem(45) toRem(40) toRem(25);
                    position: relative;
                    @include tablet-portrait{
                        padding: toRem(10) 0;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: -1;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        clip-path: circle(100% at -40% -150%);
                        width: 100%;
                        height: 100%;
                        @include tablet-portrait{
                            display: none;
                        }
                    }

                    &:hover {
                        color: $secondary;
                    }

                    &.active {
                        color: $secondary;

                        &::after {
                            background-image: url("../assests/header-active.svg");
                            opacity: 0;
                            animation: spread 1s ease-in-out forwards;

                            @keyframes spread {
                                to {
                                    clip-path: circle(100% at 50% 50%);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .hamburger {
        width: toRem(32);
        height: toRem(30);
        position: relative;
        margin: toRem(16) 0;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        display: none;

        @include tablet-landscape{
            display: block;
            margin: toRem(16) 0;
        }

        .line {
            display: block;
            position: absolute;
            height: toRem(4);
            width: 100%;
            background: $secondary;
            border-radius: toRem(9);
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;


            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: toRem(10);
            }

            &:nth-child(3) {
                top: toRem(20);
            }
        }

        &.open .line{
            &:nth-child(1) {
                top: toRem(18);
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                opacity: 0;
                left: toRem(-60);
            }

            &:nth-child(3) {
                top: toRem(18);
                transform: rotate(-135deg);
            }            
        }
    }
}

.d-flex {
    display: flex;
    @include tablet-landscape{
        flex-wrap: wrap;
    }
}

.align_center {
    align-items: center;
}

.just-btn {
    justify-content: space-between;
}

.gap_20 {
    gap: toRem(20);
}

.flex_60 {
    flex-basis: 60%;
}

.flex_50 {
    flex-basis: 50%;
}

.flex_30 {
    flex-basis: 30%;
}

.flex_40 {
    flex-basis: 40%;
}

.primary {
    color: $primary;
}

.flex_60 {
    flex-basis: 60%;
}

.black_btn {
    color: $white;
    background: $black;
    border: toRem(1) solid $black;
    font-size: toRem(16);
    padding: toRem(16) toRem(24);
    border-radius: toRem(4);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: $black;
        background: $white;
    }
}


.banner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    background: $white;
    z-index: 1;


    .banner-image {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        clip-path: circle(100% at -40% -150%);
        // animation: spread 1s ease-in-out forwards;

        // @keyframes spread {
        //     to {
        //         clip-path: circle(100% at 50% 50%);
        //         opacity: 1;
        //     }
        // }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-content {
        position: relative;
        z-index: 9;

        h2 {
            font-size: toRem(40);
            color: $black;
            -webkit-text-fill-color: $black;
            -webkit-text-stroke-color: $white;
            text-shadow: toRem(-1) toRem(-1) 0 $white, toRem(1) toRem(-1) 0 $white, toRem(-1) toRem(1) 0 $white, toRem(1) toRem(1) 0 $white;
            transform: translateY(100%);
            opacity: 0;
        }

        p {
            color: $white;
            font-size: toRem(30);
            margin: 0 0 toRem(30);
            transform: translateY(100%);
            opacity: 0;
        }

        .social-icons {
            display: flex;
            gap: toRem(20);
            opacity: 0;

            a {
                svg {
                    width: toRem(36);
                    height: toRem(36);
                }

                &:hover path {
                    fill: #fff;
                    transition: all 0.3s
                }
            }

        }
    }

}

.section-content {
    position: relative;
    padding: 0 0 toRem(50);
    z-index: 9;

    @include tablet-landscape{
        padding: toRem(40) 0;
    }

    img {
        width: 100%;
    }

    .image {
        flex-basis: 35%;
        @include tablet-landscape{
            flex-basis: 100%;
        }
    }

    .content {
        flex-basis: 55%;
        @include tablet-landscape{
            flex-basis: 100%;
        }

        h3 {
            color: $secondary;
            font-size: toRem(32);
            margin: 0 0 toRem(32);
        }

        p {
            font-size: toRem(24);
            margin: 0 0 toRem(48);
        }
    }

}

.about {
    position: relative;
    padding: toRem(50) 0;

    &-bg {
        position: absolute;
        top: 30%;
        width: 55%;
        transform: translateY(-50%);

        img {
            width: 100%;
        }
    }
}

.skills {
    position: relative;

    .skills-bg {
        position: absolute;
        top: 30%;
        width: 55%;
        transform: translateY(-50%);
        right: 0;

        img {
            width: 100%;
        }
    }

    .skills-list {
        display: flex;
        gap: toRem(25);

        @include tablet-landscape{
            flex-wrap: wrap;
        }

        li {
            cursor: pointer;

            svg {
                width: toRem(50);
                height: toRem(50);
            }

            &:hover svg path {
                fill: $secondary;
                transition: all 0.3s;
            }

        }
    }

    .image{
        @include tablet-landscape{
            order: 1;
        }
    }

    .content{
        @include tablet-landscape{
            order: 2;
        }
    }

}

.works {
    position: relative;

    &-bg {
        position: absolute;
        bottom: 15%;
        width: 55%;

        @include tablet-landscape{
            top: 15%;
            bottom: unset;
        }
    }

    .image {
        position: relative;

        .slide-prev,
        .slide-next {
            position: absolute;
            top: 50%;
            padding: toRem(14) toRem(32);
            background: $btn-grey;
            border: none;
            outline: none;
            transform: translateY(-50%);
            cursor: pointer;

            svg path {
                fill: $white;
            }

            &:disabled {
                display: none;
            }
        }

        .slide-prev {
            left: 0%;
            border-radius: 0 toRem(35) toRem(35) 0;
        }

        .slide-next {
            right: 0%;
            border-radius: toRem(35) 0 0 toRem(35);
        }
    }
}

.contact {
    background-image: url("../assests/contact-bg.png");
    padding: toRem(100) 0;
    // background-position: toRem(50) toRem(50);
    // background-size: cover;
    background-color: transparent;
    animation: bg-scrolling 20s linear infinite;

    @keyframes bg-scrolling {

        to {
            background-position: toRem(500) toRem(500);
        }
    }

    &-content {
        background: $white;
        padding: toRem(72);
        border-radius: toRem(4);
        text-align: center;

        @include tablet-landscape{
            padding: toRem(30);
        }

        h2 {
            color: $secondary;
            font-size: toRem(40);
            margin: 0 0 toRem(5);
        }

        p {
            color: $primary;
            font-size: toRem(25);
            font-weight: 500;
            margin: 0 0 toRem(32);
        }
    }

    &-details {
        display: flex;
        justify-content: center;
        gap: toRem(30);

        @include tablet-landscape{
            flex-wrap: wrap;
            justify-content: start;
        }
    }

    &-text {
        flex-basis: 30%;
        display: flex;
        gap: toRem(15);
        padding: toRem(18);
        border-radius: toRem(5);
        background: $white;
        transition: all 0.3s;
        cursor: pointer;

        @include mobile{
            flex-basis: 100%;  
            flex-wrap: wrap;  
            justify-content: center;   
        }

        .icon {
            background: $grey;
            padding: toRem(12);
            line-height: 0;
            border-radius: toRem(5);
            transition: all 0.3s;

            svg path {
                fill: $primary;
                transition: all 0.3s;
            }
        }

        .source{
            @include mobile{
                flex-basis: 100%;
            }
        }

        p {
            font-size: toRem(18);
            margin: 0;
            text-align: left;

            @include mobile{
                text-align: center;
            }

            span {
                color: $text;
            }
        }

        &:hover {
            box-shadow: 0 0 5px 5px rgb(215 215 215 / 50%);

            .icon {
                background: $primary;

                svg path {
                    fill: $white;
                }
            }
        }
    }
}

.slide-container {
    overflow: hidden;

    .image-slide,
    .content-slide {
        display: flex;
        transition: all 0.5s ease-in-out;

        .slide {
            min-width: 100%;
        }
    }
}

.prespective-container {
    perspective: toRem(1000);

    .prespective-image {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.2s ease;
        will-change: transform;
    }
}

.about,
.skills,
.works {
    .image {
        opacity: 0;

        &.left {
            transform: translateX(-100px);
        }

        &.down {
            transform: translateY(-100px);
        }
    }

    .content {
        h3,
        p,
        .black_btn,
        .skills-list {
            opacity: 0;
            transform: translateY(50%);
        }
    }
}

footer {
    background: $black;
    padding: toRem(30);
    text-align: center;
}